__pycache__/
*.py[cod]
*.egg-info/

# secrets
.env
build/
dist/
.venv/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# jlens outputs
*.pt
slice*.html
slices/

# promtps
zero_exp.md
second_exp.md

project_reference.md
artigo_pincipal.pdf

relatorio.tex